extend Layout
block content
    title Where To Eat
    form.findPlace(action="/findPlace", method="get")
      h4 Where should I eat next?
      br
      p
        | Please fill in this form to find the place to eat there :)
      hr
      label
        b Search for a city
      #DropDown
        select#city.input(type="text", placeholder="Select city", name="city", required)
          option(value="Haifa") Haifa, Israel
          option(value="Tel Aviv") Tel Aviv, Israel
          option(value="Herzliya") Herzliya, Israel
          option(value="Modiin") Modiin, Israel
          option(value="Beer Sheva") Beer Sheva, Israel
          option(value="Ramat Gan") Ramat Gan, Israel
          option(value="Jerusalem") Jerusalem, Israel
          option(value="Eilat") Eilat, Israel
      //- #map
      br
      div
        a(href="HomePage.html")
          input#search.button(type="submit", value="Search")
    br

        

