extend Layout
block content
    title Rate
    br
    form(action="/rate", method="post")
      label Please rate the place :)
      hr
      label Name of the place: 
      select.option(name="place_name", required)
        option(value="Anastasia") Anastasia
        option(value="Meshek Barzilay") Meshek Barzilay
        option(value="416") 416
        option(value="Goodness") Goodness
        option(value="Hummus Bar") Hummus Bar
        option(value="Umm Kulthum") Umm Kulthum
      br
      .rateAll
        p
          | Cleanliness
        #cleanliness.rate(name="cleanliness")
          input(type="radio", id="r1_star5", name="cleanliness", value="5", required)
          label(for="r1_star5") 5 Stars
          input(type="radio", id="r1_star4", name="cleanliness", value="4", required)
          label(for="r1_star4") 4 Stars
          input(type="radio", id="r1_star3", name="cleanliness", value="3", required)
          label(for="r1_star3") 3 Stars
          input(type="radio", id="r1_star2", name="cleanliness", value="2", required)
          label(for="r1_star2") 2 Stars
          input(type="radio", id="r1_star1", name="cleanliness", value="1", required)
          label(for="r1_star1") 1 Star
        br
        p
          | Food quality
        #FQuality.rate(name="FQuality")
          input(type="radio", id="r2_star5", name="FQuality", value="5", required)
          label(for="r2_star5") 5 Stars
          input(type="radio", id="r2_star4", name="FQuality", value="4", required)
          label(for="r2_star4") 4 Stars
          input(type="radio", id="r2_star3", name="FQuality", value="3", required)
          label(for="r2_star3") 3 Stars
          input(type="radio", id="r2_star2", name="FQuality", value="2", required)
          label(for="r2_star2") 2 Stars
          input(type="radio", id="r2_star1", name="FQuality", value="1", required)
          label(for="r2_star1") 1 Star
        br
        p
          | Service quality
        #SQuality.rate(name="SQuality")
          input(type="radio", id="r3_star5", name="SQuality", value="5", required)
          label(for="r3_star5") 5 Stars
          input(type="radio", id="r3_star4", name="SQuality", value="4", required)
          label(for="r3_star4") 4 Stars
          input(type="radio", id="r3_star3", name="SQuality", value="3", required)
          label(for="r3_star3") 3 Stars
          input(type="radio", id="r3_star2", name="SQuality", value="2", required)
          label(for="r3_star2") 2 Stars
          input(type="radio", id="r3_star1", name="SQuality", value="1", required)
          label(for="r3_star1") 1 Star
        br
        p
          | Value for money
        #VForMoney.rate(name="VForMoney")
          input(type="radio", id="r4_star5", name="VForMoney", value="5", required)
          label(for="r4_star5") 5 Stars
          input(type="radio", id="r4_star4", name="VForMoney", value="4", required)
          label(for="r4_star4") 4 Stars
          input(type="radio", id="r4_star3", name="VForMoney", value="3", required)
          label(for="r4_star3") 3 Stars
          input(type="radio", id="r4_star2", name="VForMoney", value="2", required)
          label(for="r4_star2") 2 Stars
          input(type="radio", id="r4_star1", name="VForMoney", value="1", required)
          label(for="r4_star1") 1 Star
        br
        label(for="review") Review
        textarea#review.input(name="review", placeholder="Write here your review")
        
      .clearfix
        input.button(type="submit", value="Save")