extend Layout
block content
    title Sign Up
    form.signUpForm(action="/signUp", method="post")
      h4 Sign Up
      br
      p
        | Please fill in this form to sign up :)
      hr
      .msg
      label(for="first_name")
        b First Name
      input#first_name.input(type="text", placeholder="Enter first name", name="first_name", required)
      label(for="last_name")
        b Last Name
      input#last_name.input(type="text", placeholder="Enter last name", name="last_name", required)
      label(for="username")
        b User Name
      input#username.input(type="text", placeholder="Enter user name", name="username", required)
      label(for="email")
        b Email
      input#email.input(type="email", placeholder="abc@gmail.com", name="email", required)
      label(for="password")
        b Password
      input#password.input(type="password", placeholder="Enter Password", name="password", required)
      div
        input#showPsw(type="checkbox", placeholder="Show Password", onclick="showPassword()")
        | Show Password
      br
      label(for="password_repeat")
        b Confirm Password
      input#password_repeat.input(type="password", placeholder="Confirm Password", name="password_repeat", required)
      br
      div
        //- a(href="HomePage")
          //- input#signup.button(type="submit", value="Sign Up", onclick="topFunction()")
        //- button#signup.button(type="submit", onclick="topFunction()") Sign Up
        button#signup.button(type="submit", onclick="topFunction()") Sign Up
      br