doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/Project.css")
    script(defer, src="/JS/Project.js")
    script(defer, src="/JS/NewPlaceValidation.js")
    //- script(defer, src="/JS/SignInValidation.js")
    script(defer, src="/JS/SignUpValidation.js")
  body.body(onload="MyGreeting()")
    if (loggedInUser)
      //- Display menu options for logged in user
      nav
        ul
          li
            a(href="http://localhost:3000/UserDetailsPage") Update Password
          li
            a(href="http://localhost:3000/DeleteAccountPage") Delete Account
          li
            a(href="http://localhost:3000/HomePage") Home Page
          li
            a(href="http://localhost:3000/FindPlacePage") Where to eat
          li
            a(href="http://localhost:3000/AddNewPlacePage") Add a new place
          li
            a(href="http://localhost:3000/RatePage") Rate
          li
            a(href="http://localhost:3000/LogoutPage") Logout
    else
      //- Display menu options for not logged in user
      nav
        ul
          li
            a(href="http://localhost:3000/HomePage") Home Page
          li
            a(href="http://localhost:3000/FindPlacePage") Where to eat
          li
            a(href="http://localhost:3000/SignInPage") Sign In
          li
            a(href="http://localhost:3000/SignUpPage") Sign Up

    div
      h1 VDine
      h2 Eat, Drink, Vegan, Repeat
    br
    block content
    footer.footer
      .effect.social
        .buttons
          a.fb(href="#", title="Join us on Facebook")
            img(src="/Graphics/facebook.jpeg")
          a.insta(href="#", title="Join us on Instagram")
            img(src="/Graphics/instagram.jpeg")
          a.in(href="#", title="Join us on Linked In")
            img(src="/Graphics/linkedin.jpeg")
      p
        a(href="#") Contact Us
        br
        a(href="#") Terms &amp; Privacy Policy
        br
        | VDine © 2022
        p
