extend Layout
block content
    title Sign In
    form.signInForm(action="/findUser", method="get")
      h4 Sign In
      br
      p
        | Please fill in this form to sign in :)
      hr
      .msg
      label(for="username")
        b User Name
      input#username.input(type="text", placeholder="Enter user name", name="username", required)
      label(for="password")
        b Password
      input#password.input(type="password", placeholder="Enter Password", name="password", required)
      div
        input#showPsw(type="checkbox", placeholder="Show Password", onclick="showPassword()")
        | Show Password
      br
      div
        a(href="http://localhost:3000/HomePage")
          input#signin.button(type="submit", value="Sign In")

