extend Layout
block content
    title Update Password
    form.userProfileForm(action="/UserDetailsPage", method="post")
      h4 Update Password
      br
      p
        | Please update your password below:
      hr
      .msg
      label(for="username")
        b User Name
      input#username.input(type="text", placeholder="Enter user name", name="username", required)
      label(for="password")
        b Last Password
      input#password.input(type="password", placeholder="Enter Last Password", name="password", required)
      div
        input#showPsw(type="checkbox", placeholder="Show Password", onclick="showPassword()")
        | Show Password
      br
      label(for="newPassword")
        b New Password
      input#newPassword.input(type="password", placeholder="Confirm Password", name="newPassword", required)
      br
      label(for="password_repeat")
        b Confirm New Password
      input#password_repeat.input(type="password", placeholder="Confirm Password", name="password_repeat", required)
      br
      div
        input#updatePassword.button(type="submit", value="Update Password")
        br
    